*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;   

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    background: linear-gradient(180deg, rgba(89, 76, 238, 1) 0%, #8dd0f5 100%);

}

.div01 {
    
    background-color: #5c54ed;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
     border-radius: 25px;
     width: 50%;
     max-width: 400px;
     padding: 20px;

}

input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 24px;
    font-size: 20px;
    background-color: aliceblue;
    color: black;
    width: 80%
}

button {
    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #8dd0f5;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    float: right;

}

img {
    width: 25px;
}
.div02 {
    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
}

.div03 {

    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
}

.div04 {
    display: inline-block;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
    

}

p {
    display: inline-block;
}